body {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}

.container{
  /* border: solid 1px limegreen; */
  width: 100vw;
}

.Bottom{
  height: 10vh;
  background-image: linear-gradient(#20c750, 75%, #bd7d1e);
}

.Mid{
  height: 45vh;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: #20c750; */
  background-image: linear-gradient(#17D3FF, 60%, #20c750);

}

.Top{
  height: 45vh;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Answer{
  width : 45%;
  border: solid 1px black;
  height: 15vh;
  margin: auto;
  font-size:3vw;
  overflow:scroll;
  background-color: #FEE975;
  transition: 0.5s;
}

.Question{
  width: 80vw;
  /* border: solid 1px black; */
  height: 75%;
  margin:auto;
  font-size: 5vw;
  overflow:scroll;
}

.QuestionNo{
  /* border: solid 1px black; */
}

.TopTop{
  width:100%;
  height:25%;
  box-sizing: border-box;
  display:flex;
  /* flex-wrap:wrap; */
  background-image: linear-gradient(#000000, 10% , #0080FF);

}

.TopBot{
  width:100%;
  height:75%;
  box-sizing: border-box;
  display:flex;
  /* background-color:#17D3FF; */
  background-image: linear-gradient(#0080FF,10%, #17D3FF);
  text-shadow: 5px 5px 10px #000000;


}

.TopFiller{
  width:70vw;
  height:100%;
  /* background-color:lightgoldenrodyellow ; */

}

.QuestionNo{
 width:20vw;
  /* background:#0080FF; */
  color:#17D3FF;
  font-size: 5vw;
  font-weight: bold;
  display: flex;
  margin: auto;
  justify-content: center;
}

.Timer {
  width: 10vw;
  display: flex;
  justify-content: center;
  margin: auto;
  color:#17D3FF;

}

.timerNum{
  font-size: 5vw;
}

.answerButton1:hover{
  background-color: #E4A4EE;
}

.answerButton2:hover{
  background-color: #E4A4EE;
}

.answerButton3:hover{
  background-color: #E4A4EE;
}

.answerButton0:hover{
  background-color: #E4A4EE;
}

.incorrectTitle{
  font-size: 10vh;
}

.incorrectbot{
  font-size: 5vh;
  text-shadow: 2px 2px 20px #00FFCC;

}

.incorrectTop{
  font-size: 10vh;
  height: 20vh;
  overflow: scroll;

}

@keyframes ansButtonColorChange{
  from{}
  to{}
}